<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
	<title>BLM Stories</title>
</head>
<body>	
<form class="form-horizontal" action="https://blm.piemadd.com/stories/choose/num">
<fieldset>

<!-- Form Name -->
<legend>Choose a Story</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id">Story Number</label>  
  <div class="col-md-4">
  <input id="id" name="id" type="text" placeholder="Story Number" class="form-control input-md" required="">
  <span class="help-block">Feel free to use a nick name or a fake name, as this will be posted publicly, and many want to keep their identities a secret.</span>  
  </div>
</div>
<br>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <input type="submit" value="Submit">
  </div>
</div>
</fieldset>
</form>
</body>
</html>