<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
	<title>BLM Stories</title>
</head>
<body>
	<h1>BLM Stories</h1>
	<p>This is the home page of the BLM Stories Social Media Platform. There are (currently) no ads on this website, as BLM is not a movement I should try to make a profit off of. If any ads are added at any point, detailed earnings records will be published along with any money not going to hosting costs being donated to various BLM Organizations.</p>
	<br>
	<form action="https://blm.piemadd.com/submit"><input type="submit" value="Create a Story"/></form>
	<form action="https://blm.piemadd.com/viewSubs"><input type="submit" value="View Stories"/></form>
	<form action="https://blm.piemadd.com/viewMap"><input type="submit" value="View The Map"/></form>
</body>
</html>