<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
	<title>BLM Stories</title>
</head>
<body>
	<h1>BLM Stories Responses</h1>
	<p>The responses to the blm movement. Below is a link to each and every one, sorted by oldest to newest.</p>
	<form action="https://blm.piemadd.com/stories/rand"><input type="submit" value="View a Random Story"/></form>
	<form action="https://blm.piemadd.com/stories/list"><input type="submit" value="Choose From a List of All Stories"/></form>
	<form action="https://blm.piemadd.com/stories/choose"><input type="submit" value="Choose a Specific Story"/></form>
</body>
</html>